{% extends "video_rental/base.html" %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-danger text-white">
        🗑 ビデオ削除
    </div>

    <div class="card-body">

        <p class="fs-5">

            「{{ video.title }}」を削除しますか？

        </p>

        <form method="post">

            {% csrf_token %}

            <button class="btn btn-danger">
                削除する
            </button>

            <a href="{% url 'video_rental:video_list' %}"
                class="btn btn-secondary">

                キャンセル

            </a>

        </form>

    </div>

</div>

{% endblock %}
